/node_modules
/public/hot
/public/storage
/public/server_files
!/public/storage/imgs/backend/countries/flags
!/public/storage/imgs/backend/users/profiles/user_profile_default.png
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.phpintel
